# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite cache
.vite/

# Local environment variables
.env
.env.local

# Production build
dist/

# Mac system files
.DS_Store

# VS Code directory
.vscode/

# Idea directory (IntelliJ-based IDEs)
.idea/

# Temporary files
*.tmp
*.swp
